# Business Understanding

The company is interested in purchasing and operating airplanes for commercial and private enterprises.
This data will help the company determine which aircraft are the lowest risk for the company to acquire to start this new business endeavor.

# Data Understanding

To get the insights needed I will analyze the National Transportation Safety Board data set that includes data from 1962 to 2023 that includes information about civil aviation accidents and selected incidents in the US and internationally.

From this dataset I will focus on researching to the safest airplanes to fly as well as the newest generations of plane models that are the most reliable rather than the older options.
I will focus my analysis also on the accidents rate to find the planes with a clean flight record.

## Exploratory Data Analysis

In [1]:
#Start by importing the necessary libraries to analyze this data
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#load the necessary csv dataframe
df = pd.read_csv('Aviation_Data.csv',low_memory=False)

In [3]:
#time to explore the columns, size and content of the dataframe
#90,348 rows x 31 columns
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

(90348, 31)

In [4]:
#getting a first look of how the dataframe looks on the first 10 rows
df.head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

## Data Cleaning

In [5]:
#checking if there is any duplicates in the event id column and in accident number column
#we dont need duplicates of these
df.duplicated(subset='Event.Id').value_counts()
df=df.drop_duplicates(subset='Event.Id')
df=df.drop_duplicates(subset='Accident.Number')

In [6]:
#the dataset now contains 87,952 rows
df.shape

(87952, 31)

In [7]:
#changing the date to date time, this will help look for the 
#newer aircrafts
df['Event.Date']=pd.to_datetime(df['Event.Date'])
df['Event.Date']

0       1948-10-24
1       1962-07-19
2       1974-08-30
3       1977-06-19
4       1979-08-02
           ...
90343   2022-12-26
90344   2022-12-26
90345   2022-12-26
90346   2022-12-26
90347   2022-12-29
Name: Event.Date, Length: 87952, dtype: datetime64[ns]

In [8]:
#created a new column 'event month year' that contains only the month and year of event
df['Event.Month.Year']=df['Event.Date'].dt.strftime('%m-%Y')

In [9]:
#making new columns for only month and year from the event date column
df['Event.Month']=df['Event.Date'].dt.month
df['Event.Year']=df['Event.Date'].dt.year

In [10]:
#determine the quantity of na in the dataframe per column
df.isna().sum()

Event.Id                      1
Investigation.Type            0
Accident.Number               1
Event.Date                    1
Location                     53
Country                     223
Latitude                  53740
Longitude                 53749
Airport.Code              38351
Airport.Name              35835
Injury.Severity             991
Aircraft.damage            3104
Aircraft.Category         55771
Registration.Number        1286
Make                         64
Model                        93
Amateur.Built               101
Number.of.Engines          6028
Engine.Type                7025
FAR.Description           56037
Schedule                  75592
Purpose.of.flight          6123
Air.carrier               71419
Total.Fatal.Injuries      11268
Total.Serious.Injuries    12323
Total.Minor.Injuries      11761
Total.Uninjured            5864
Weather.Condition          4474
Broad.phase.of.flight     27115
Report.Status              6362
Publication.Date          15058
Event.Month.Year              1
Event.Month                   1
Event.Year                    1
dtype: int64

Given that there are too many NaN values, I will create a subset with the necessary columns for my analysis.

In [11]:
#Subsetting: Month and year of events, Location, Country, Make, Model, Purpose of flight, Weather conditions
#Aircraft category, damage, injury severity, total fatal injuries, serious and minor injuries, total injured, 
#number of engines, engine type.

df_clean = df[['Event.Month', 'Event.Year','Location','Country','Make', 'Model', 'Purpose.of.flight', 'Weather.Condition','Aircraft.Category','Aircraft.damage','Injury.Severity' ,'Total.Fatal.Injuries', 'Total.Serious.Injuries','Total.Minor.Injuries', 'Total.Uninjured', 'Number.of.Engines', 'Engine.Type',  ]]

In [12]:
#Filtering events that happened between 1999 and 2022
df_clean=df_clean[(df_clean['Event.Year']>=1999)&(df_clean['Event.Year']<=2022)]

In [13]:
#after filtering most recent accidents, 43,146 rows are left
df_clean.shape

(43146, 17)

In [14]:
#Adding the title.format to these columns to match with other same values
df_clean['Make']=df_clean['Make'].str.title()
df_clean['Country']=df_clean['Country'].str.title()
df_clean['Location']=df_clean['Location'].str.title()

In [15]:
#checking for NaN values in the new subset df_clean 
df_clean.isna().sum()

Event.Month                   0
Event.Year                    0
Location                     19
Country                      26
Make                         55
Model                        69
Purpose.of.flight          6044
Weather.Condition          4458
Aircraft.Category         14732
Aircraft.damage            2084
Injury.Severity             990
Total.Fatal.Injuries      11000
Total.Serious.Injuries    11980
Total.Minor.Injuries      11412
Total.Uninjured            5631
Number.of.Engines          5066
Engine.Type                7011
dtype: int64

In [16]:
#out of the 100% of rows (43,423) only rows with less than 3% nas will be dropped
df_clean = df_clean.dropna(subset=['Location', 'Country', 'Make', 'Model', 'Injury.Severity'])

In [17]:
#checking again for clean data
df_clean.isna().sum()

Event.Month                   0
Event.Year                    0
Location                      0
Country                       0
Make                          0
Model                         0
Purpose.of.flight          5057
Weather.Condition          3510
Aircraft.Category         14538
Aircraft.damage            1566
Injury.Severity               0
Total.Fatal.Injuries      10969
Total.Serious.Injuries    11942
Total.Minor.Injuries      11374
Total.Uninjured            5603
Number.of.Engines          4298
Engine.Type                6154
dtype: int64

In [18]:
#after dropping the columns with 3% nas, there are left 42,052 rows
df_clean.shape

(42052, 17)

Starting Data cleaning per column:

In [19]:
#only keeping flights that are of personal and business purpose
df_clean['Purpose.of.flight'] = df_clean['Purpose.of.flight'].map(str)
df_clean['Purpose.of.flight'] = df_clean['Purpose.of.flight'].apply(lambda x: x if x in ['Personal', 'Business'] else None)

In [20]:
#replacing the NaN of Purpose of flight with the most common value 'Personal'
df_clean['Purpose.of.flight']=df_clean['Purpose.of.flight'].fillna('Personal')

In [21]:
#checking the values and the counts in the column
df_clean['Purpose.of.flight'].value_counts()

Personal    40871
Business     1181
Name: Purpose.of.flight, dtype: int64

In [22]:
#print(df_clean.dtypes)

In [23]:
#cleaning the weather condition column
# I combined the value Unk and UNK to one value UNK
df_clean['Weather.Condition']=df_clean['Weather.Condition'].str.upper()

In [24]:
#checking the values and the counts in the column
df_clean['Weather.Condition'].value_counts()

VMC    35914
IMC     2274
UNK      354
Name: Weather.Condition, dtype: int64

In [25]:
#replacing NaN with the most common value in the column 'VMC'
df_clean['Weather.Condition']=df_clean['Weather.Condition'].fillna('VMC')

In [26]:
#In the aircraft category column I will only make use of aircraft that is an airplane
df_clean['Aircraft.Category']=df_clean['Aircraft.Category'].map(str)
df_clean['Aircraft.Category']=df_clean['Aircraft.Category'].apply(lambda x: x if x in ['Airplane']else None)

In [27]:
#checking the values and the counts in the column
df_clean['Aircraft.Category'].value_counts()

Airplane    23336
Name: Aircraft.Category, dtype: int64

In [28]:
#replacing NaN with the most common value in the column 'Airplane'
df_clean['Aircraft.Category']=df_clean['Aircraft.Category'].fillna('Airplane')

In [29]:
#checking again the values and the counts in the column
df_clean['Aircraft.Category'].value_counts()

Airplane    42052
Name: Aircraft.Category, dtype: int64

In [30]:
#dropping the nas in the aircraft damage because of the low percentage of rows with nas, 3.6%
df_clean = df_clean.dropna(subset=['Aircraft.damage'])

In [31]:
#checking the values and the counts in the column
df_clean['Aircraft.damage'].value_counts()

Substantial    33020
Destroyed       6227
Minor           1147
Unknown           92
Name: Aircraft.damage, dtype: int64

In [32]:
df_clean['Total.Fatal.Injuries'].value_counts()

0.0      21114
1.0       4405
2.0       2535
3.0        777
4.0        509
         ...
58.0         1
239.0        1
33.0         1
265.0        1
162.0        1
Name: Total.Fatal.Injuries, Length: 94, dtype: int64

In [33]:
#cleaning the collumn Total.Fatal.Injuries 
#checking the mean of the fatal injuries to fill the NaN values
df_clean['Total.Fatal.Injuries'].mean()

0.8849456975772765

In [34]:
#using the mean of the fatal injuries to fill the NaN values, using 1 as the mean
df_clean['Total.Fatal.Injuries']=df_clean['Total.Fatal.Injuries'].fillna(1)

In [37]:
#cleaning the col 'Total.Serious.Injuries'
#checking the mean of the serious injuries to fill the NaN values, using 0 as the mean
df_clean['Total.Serious.Injuries'].mean()

0.3733199041433682

In [38]:
#changing the mean of the serious injuries to fill the NaN values, using 0 as the mean
df_clean['Total.Serious.Injuries']=df_clean['Total.Serious.Injuries'].fillna(0)

In [39]:
#cleaning the col Total.Minor.Injuries 
#checking the mean to fill the NaN values
df_clean['Total.Minor.Injuries'].mean()

0.36914936914936913

In [40]:
#replacing NaN with mean 0
df_clean['Total.Minor.Injuries']=df_clean['Total.Minor.Injuries'].fillna(0)

In [41]:
#cleaning the col Total.Uninjured 
#checking the mean to fill the NaN values
df_clean['Total.Uninjured'].mean()

3.9787185354691075

In [42]:
#replacing NaN with mean 4
df_clean['Total.Uninjured']=df_clean['Total.Uninjured'].fillna(4)

In [43]:
#cleaning the col Number of engines 
#checking the mean to fill the NaN values
df_clean['Number.of.Engines'].mean()

1.1162013903975667

In [44]:
#replacing NaN with mean 1
df_clean['Number.of.Engines']=df_clean['Number.of.Engines'].fillna(1)

In [45]:
#cleangin the engine.type column
df_clean['Engine.Type'].value_counts()

Reciprocating      29926
Turbo Shaft         1868
Turbo Prop          1858
Turbo Fan            863
Unknown              334
Turbo Jet            237
None                  16
Electric               8
NONE                   2
Hybrid Rocket          1
LR                     1
UNK                    1
Geared Turbofan        1
Name: Engine.Type, dtype: int64

In [46]:
#Will only keep the most common and turbo engines
df_clean['Engine.Type']=df_clean['Engine.Type'].map(str)
df_clean['Engine.Type']=df_clean['Engine.Type'].apply(lambda x: x if x in ['Reciprocating', 'Turbo Shaft', 'Turbo Prop', 'Turbo Fan', 'Turbo Jet']else None)

In [47]:
#dropping the NaN values of the engine type column
df_clean=df_clean.dropna(subset=['Engine.Type'])

In [48]:
#checking the new size of the new subset
#34,752 rows and 17 columns
df_clean.shape

(34752, 17)

In [52]:
#creating a column with the total of all injuries, fatal, serious and minor
df_clean['Total.Injuries']=df_clean['Total.Fatal.Injuries']+df_clean['Total.Serious.Injuries']+df_clean['Total.Minor.Injuries']

In [53]:
#checking for the clean data set
df_clean.isna().sum()

Event.Month               0
Event.Year                0
Location                  0
Country                   0
Make                      0
Model                     0
Purpose.of.flight         0
Weather.Condition         0
Aircraft.Category         0
Aircraft.damage           0
Injury.Severity           0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Number.of.Engines         0
Engine.Type               0
Total.Injuries            0
dtype: int64

# Data Analysis

The goal of this project is for the company to get the safest aircraft to start a new type of businness.
In order to get this list of the safest aircraft I would like to get a variable that will give me the output of that list of aircraft.

In [54]:
#starting the data analysis by checking a sample subset
df_clean.sample(5)

,Event.Month,Event.Year,Location,Country,Make,Model,Purpose.of.flight,Weather.Condition,Aircraft.Category,Aircraft.damage,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Number.of.Engines,Engine.Type,Total.Injuries
83022,9.0,2018.0,"Porterville, Ca",United States,Eggleston Daniel,S-18 THORP,Personal,VMC,Airplane,Substantial,Non-Fatal,0.0,1.0,0.0,0.0,1.0,Reciprocating,1.0
67089,8.0,2009.0,"Holland, Ma",United States,Piper,J5A,Personal,VMC,Airplane,Substantial,Non-Fatal,0.0,0.0,0.0,2.0,1.0,Reciprocating,0.0
52659,5.0,2002.0,"Vancouver, Wa",United States,Grumman American,AA-5A,Personal,VMC,Airplane,Substantial,Non-Fatal,1.0,0.0,0.0,3.0,1.0,Reciprocating,1.0
54492,4.0,2003.0,"Salt Lake City, Ut",United States,Mitsubishi,MU-2B-60,Personal,VMC,Airplane,Substantial,Non-Fatal,1.0,0.0,0.0,1.0,2.0,Turbo Prop,1.0
47452,11.0,1999.0,"Lake City, Co",United States,Bellanca,17-30,Personal,VMC,Airplane,Destroyed,Fatal(2),2.0,0.0,0.0,0.0,1.0,Reciprocating,2.0

In [56]:
#creating a subset of only the best aircraft to purchase
#total injuries needs to be 0, injuries include the sum of: serious ,fatal and minor injuries.
best_aircraft= df_clean[(df_clean['Total.Injuries']== 0) & (df_clean['Aircraft.damage']== 'Minor')]
best_aircraft.shape #checking the size of this new subset

(396, 18)

In [ ]:
best_aircraft_subset.to_csv('best_aircraft.csv', index=False)

In [ ]:
best_aircraft_subset['Make'].value_counts() #checking the best make of aircrafts based on this data analysis

In [ ]:
#Getting subset samples to get a just examples for the graphs (trial)
subset_sample = subset.sample(n=10, replace=True)
best_aircraft_sample=best_aircraft_subset.sample(n=10, replace=True)

In [ ]:
#bar plot TRIAL the total injuries per make, on a sample set of 10 rows.
sns.barplot(x=subset_sample['Make'], y=subset_sample['Total.Injuries'], data=df)
plt.show()

# Conclusions

To be completed...

## Limitations

## Recommendations

## Next Steps